body {
    font-family: Roboto,arial,sans-serif;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
}

main {
    margin: 20px auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 10px 0 10px;
}

nav {
    padding: 20px;
    margin: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: auto;
}

footer a {
    color: #70757a;
}

.float-left {
    display: inline;
}

.float-right {
    float: right;
    display: inline;
}

#search-box {
    font-family: Roboto,arial,sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    border-color: #dadada;
    border-style: solid;
    border-width: 1px;
    /* width: 400px;*/
    /*fix width*/
    /*insert search icon*/
}

#search-box:hover {
    filter: drop-shadow(0 .2em 0.25rem #dadada);
}

.button {
    font-family: Roboto,arial,sans-serif;
    font-size: 18px;
    font-weight: light;
    color: #3c4043;
    padding: 12px 15px 12px 15px;
    margin: 0 5px 0 5px;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.button:hover {
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #dadada;
}

main img {
    width:100%;
    height:100%;
}

.acct {
    background-color: rgb(207, 147, 157);
    color: #fff;
    font-size:18px;
    font-weight: bold;
    display: inline;
    text-align: center;
    padding: 9px 14px 9px 14px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: 0 -25px 0 0;
    border-radius: 50%;
    border-color:gray;
}

.initial a:hover {
    text-decoration: none;
}

.apps{
    width: 9%;
    height: 9%;
    margin: -12px -10px -18px -10px;
    padding: 12px;
    display: inline-flex;
    background: #fff;
    border-radius: 50%;
    opacity: 50%;
}

.apps:hover {
    background: rgb(231, 230, 230);
}

.right {
    font-size: 17px;
}




