body {
    font-family: Roboto,arial,sans-serif;
    font-size: 18px;
    font-weight: light;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 5px;
}

main {
    margin: 20px auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 10px 0 10px;
}

nav {
    padding: 20px;
    margin: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
    margin-top: auto;
}

footer a {
    color: #70757a;
}

.float-left {
    display: inline-block;
}

.float-right {
    float: right;
    display: inline-block;
}

#search-box {
    font-family: Roboto,arial,sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    border-color: #dadada;
    border-style: solid;
    border-width: 1px;
    /*fix width*/
    /*insert search icon*/
}

#search-box:hover {
    filter: drop-shadow(0 .2em 0.25rem #dadada);
}

.button {
    font-family: Roboto,arial,sans-serif;
    font-size: 18px;
    font-weight: light;
    color: #3c4043;
    padding: 12px 15px 12px 15px;
    margin: 0 5px 0 5px;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.button:hover {
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #dadada;
}





